<article class="flex flex-col items-center justify-center gap-8 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-[#af721c] dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
    <p>
      Me llamo <strong>Aitor Rodríguez Dueñas</strong> y soy graduado en <strong>Ingeniería Informática - Software</strong>.  
      Actualmente curso un <strong>Máster en Ingeniería del Software</strong> con especialización en <strong>Ingeniería de Datos</strong>.
    </p>
  
    <p>
      He trabajado con <strong>varias tecnologías</strong>, aplicando técnicas de <strong>Machine Learning</strong> 
      y desarrollo <strong>backend</strong> y <strong>frontend</strong>. 
      Me interesa especialmente el análisis y procesamiento de datos, así como la <strong>explicabilidad</strong> y la 
      <strong>escalabilidad en Big Data</strong>.
    </p>
  
    <p>
      Busco ser una persona <strong>analítica y orientada al trabajo en equipo</strong>, 
      siempre intentando que más allá de los conocimientos técnicos, creer firmemente en la
      importancia de las <strong>soft skills</strong> como la comunicación y la colaboración,
      esenciales para trabajar en equipo y afrontar nuevos desafíos con éxito.
    </p>
    </div>

    <img width="200" height="200" src="/foto2.webp" alt="Aitor RD" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
  
  </article>